In [7]:
import pandas as pd
import os

In [114]:
first_data_file = pd.read_excel(r"..\dataset\pure_phishing_urls.xlsx")

In [115]:
first_data_file["label"]=1
combined_df =first_data_file
print(combined_df.head())
print(combined_df["label"].value_counts())

                                  url  label
0  http://222.138.100.25:48810/bin.sh      1
1      http://91.92.242.13/manji.arm5      1
2       http://91.92.242.13/manji.dbg      1
3       http://91.92.242.13/manji.x86      1
4      http://91.92.242.13/manji.arm7      1
label
1    83588
Name: count, dtype: int64

In [116]:
third_data_set=pd.read_csv(r"..\dataset\cleaned_phiusiil.csv")

In [117]:

two_dataSets_combined_df = pd.concat([combined_df, third_data_set], ignore_index=True)

In [118]:
print(two_dataSets_combined_df.tail())
print(two_dataSets_combined_df["label"].value_counts())
phishtank=pd.read_csv(r"../dataset/phishtank_urls.csv")
needed_col=phishtank[["url"]]
needed_col['label'] = 1
needed_col.info()
final_combined_with_new_data_df = pd.concat([two_dataSets_combined_df, needed_col], ignore_index=True)
final_combined_with_new_data_df = final_combined_with_new_data_df.sample(frac=1, random_state=42).reset_index(drop=True)
final_combined_with_new_data_df.describe()

                                       url  label
218433     https://www.life-in-ecuador.com      0
218434      https://www.skincareliving.com      0
218435       https://www.winchester.gov.uk      0
218436     https://www.nononsensedesign.be      0
218437  https://www.alternativefinland.com      0
label
0    134850
1     83588
Name: count, dtype: int64
<class 'pandas.DataFrame'>
RangeIndex: 51559 entries, 0 to 51558
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   url     51559 non-null  str
 1   label   51559 non-null  int64
dtypes: int64(1), str(1)
memory usage: 805.7 KB

               label
count  269997.000000
mean        0.500550
std         0.500001
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000

In [119]:
open_fpish_data=pd.read_csv(r"..\dataset\output_urls_from_open_phish_data.csv")
open_fpish_data = open_fpish_data.rename(columns={"URL":"url"})
open_fpish_data['label']=1
print(open_fpish_data.head())

all_data=pd.concat([open_fpish_data, final_combined_with_new_data_df], ignore_index=True)
all_data = all_data.sample(frac=1, random_state=42).reset_index(drop=True)
all_data

                                                 url  label
0        http://easybank-landing-page-nu.vercel.app/      1
1  https://www.roblox.com.kz/games/75992362647444...      1
2                             https://conversemy.cc/      1
3  http://www.roblox.com.ml/communities/499785351...      1
4                                  http://aie.uk.cc/      1

                                                      url  label
0                       https://www.r-forge.r-project.org      0
1                                      https://www.toa.jp      0
2       http://116.171.106.3:3435/tomcat8/webapps/bfxt...      1
3                   http://hhpglfol.xyz:808/linux_ppc64el      1
4                       https://www.perthscorchers.com.au      0
...                                                   ...    ...
270292                              https://www.vedran.io      0
270293                            https://www.owna.com.au      0
270294                        https://www.capetownetc.com      0
270295                              https://www.ehiweb.it      0
270296                http://130.12.180.20:36695/tvt/arm5      1

[270297 rows x 2 columns]

In [120]:
redundant_count = all_data.duplicated(subset=['url']).sum()
print(f"Number of redundant URLs found: {redundant_count}")

Number of redundant URLs found: 30

In [121]:
unique_urls_df = all_data.drop_duplicates(
    subset=['url'],
    keep='first')

In [122]:
redundant_count = unique_urls_df.duplicated(subset=['url']).sum()
print(f"Number of redundant URLs found: {redundant_count}")

Number of redundant URLs found: 0

In [124]:
unique_urls_df

                                                      url  label
0                       https://www.r-forge.r-project.org      0
1                                      https://www.toa.jp      0
2       http://116.171.106.3:3435/tomcat8/webapps/bfxt...      1
3                   http://hhpglfol.xyz:808/linux_ppc64el      1
4                       https://www.perthscorchers.com.au      0
...                                                   ...    ...
270292                              https://www.vedran.io      0
270293                            https://www.owna.com.au      0
270294                        https://www.capetownetc.com      0
270295                              https://www.ehiweb.it      0
270296                http://130.12.180.20:36695/tvt/arm5      1

[270267 rows x 2 columns]

In [135]:
open_fpish_data2=pd.read_csv(r"..\dataset\output_urls_from_open_phish_2.csv")
open_fpish_data2['label']=1
open_fpish_data2.info()
all_datav2 = pd.concat([unique_urls_df, open_fpish_data2], ignore_index=True)
all_datav2.info()

<class 'pandas.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   url     300 non-null    str
 1   label   300 non-null    int64
dtypes: int64(1), str(1)
memory usage: 4.8 KB
<class 'pandas.DataFrame'>
RangeIndex: 270567 entries, 0 to 270566
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   url     270567 non-null  str
 1   label   270567 non-null  int64
dtypes: int64(1), str(1)
memory usage: 4.1 MB

In [137]:
open_fpish_data3=pd.read_csv(r"..\dataset\output_urls_from_open_phish_2.csv")
open_fpish_data3['label']=1
open_fpish_data3.info()
final_dataset = pd.concat([all_datav2, open_fpish_data3], ignore_index=True)
final_dataset.info()

<class 'pandas.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   url     300 non-null    str
 1   label   300 non-null    int64
dtypes: int64(1), str(1)
memory usage: 4.8 KB
<class 'pandas.DataFrame'>
RangeIndex: 270867 entries, 0 to 270866
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   url     270867 non-null  str
 1   label   270867 non-null  int64
dtypes: int64(1), str(1)
memory usage: 4.1 MB

In [141]:
unique_urls_df = final_dataset.drop_duplicates(
    subset=['url'],
    keep='first')

In [142]:
unique_urls_df.to_csv(r'..\final_dataset\Final_clean_dataset.csv', index=False)

In [144]:
unique_urls_df

                                                      url  label
0                       https://www.r-forge.r-project.org      0
1                                      https://www.toa.jp      0
2       http://116.171.106.3:3435/tomcat8/webapps/bfxt...      1
3                   http://hhpglfol.xyz:808/linux_ppc64el      1
4                       https://www.perthscorchers.com.au      0
...                                                   ...    ...
270562         https://roblox.gs/users/5997992353/profile      1
270563      https://roblox.com.ge/users/228609389/profile      1
270564     https://roblox.com.ge/users/4481427420/profile      1
270565             https://cn.31mebetx.com/home/forbidden      1
270566  https://www.roblox.com.ml/users/430137660/profile      1

[270555 rows x 2 columns]

In [14]:
final_dataset_that_was_uniqe = pd.read_csv(r"..\final_dataset\Final_clean_dataset.csv")

In [15]:
benign_urls_men=pd.read_csv(r"..\dataset\output_urls_from_mendeley.csv")

In [16]:
benign_urls_men['label']=0

In [17]:
final_dataset = pd.concat([benign_urls_men, final_dataset_that_was_uniqe], ignore_index=True)

In [28]:
final_dataset.info()
redundant_count = final_dataset.duplicated(subset=['url']).sum()
print(f"Number of redundant URLs found: {redundant_count}")
unique_urls_df = final_dataset.drop_duplicates(
    subset=['url'],
    keep='first')
redundant_count = unique_urls_df.duplicated(subset=['url']).sum()
print(f"Number of redundant URLs found: {redundant_count}")

<class 'pandas.DataFrame'>
RangeIndex: 2270555 entries, 0 to 2270554
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   url     str
 1   label   int64
dtypes: int64(1), str(1)
memory usage: 34.6 MB
Number of redundant URLs found: 177
Number of redundant URLs found: 0

In [30]:
counts = unique_urls_df['label'].value_counts()
print(counts)

label
0    2134673
1     135705
Name: count, dtype: int64

In [32]:
unique_urls_df = unique_urls_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [33]:
unique_urls_df.to_csv(r'..\final_dataset\Final_clean_dataset.csv', index=False)